name: 'PR Title Check'
on:
  # pull_request:
  #   types:
  #     - opened
  #     - edited
  #     - synchronize
  #     - labeled
  #     - unlabeled
  issues:

  issue_comment:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: PR Title Verify
        uses: Ludy87/action/pr-issues-title-check@caa2185f8e7d1ba61c71879e8f150c9df5231035 # main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # issues_pattern: '^(\[Feature Request\]|\[Bug\]): (?:\w+\b\W*){3,8}$'
          issues_min_length: 2
          actor_without_restriction: |
            dependabot[bot]
          #   Ludy87
          # issues_pattern_flags: gmi
          # issues_comment: |
          #   Hier steht ein Text
          #   mit zwei Absätzen @${{ github.actor }} und einer leeren Zeile

          #   Hier ist das Ende vom Gelände!
