name: Check PyMuPDF Version & Build docker image

on:
  push:
    paths:
      - '.pymupdf'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-version:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Read current version
        id: pymupdf_version
        run: |
          current_version=$(cat .pymupdf | tail -n +1 | head -n 1)
          echo "Current version: $current_version"
          echo "versionNumber=$current_version" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_API }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Convert repository owner to lowercase
        id: repoowner
        run: echo "lowercase=$(echo ${{ github.repository_owner }} | awk '{print tolower($0)}')" >> $GITHUB_OUTPUT

      - name: Generate tags PyMuPDF
        id: metamu
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/pymupdf
            ghcr.io/${{ steps.repoowner.outputs.lowercase }}/pymupdf
          tags: |
            type=raw,value=${{ steps.pymupdf_version.outputs.versionNumber }},enable=${{ github.ref == 'refs/heads/main' }}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

      - name: Build PyMuPDF and push main Dockerfile
        uses: docker/build-push-action@b32b51a8eda65d6793cd0494a773d4f6bcef32dc # v6.11.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: .github/scripts/docker/Dockerfile-PyMuPDF
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.metamu.outputs.tags }}
          labels: ${{ steps.metamu.outputs.labels }}
          build-args: PYMUPDF_VERSION=${{ steps.pymupdf_version.outputs.versionNumber }}
          platforms: linux/amd64,linux/arm64/v8
